@media screen and (min-width: 900px) {

  .ste-side-preview {
    .SubmitPost > .ReplyEditor {
      width: 100%;
      max-width: 1600px;
    }

    .SubmitPost {
      form.vframe {
        width: 100%;
        max-width: 100%;
        position: relative;
      }
      form.vframe > div {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
      }
      form.vframe > div.Preview {
        position: absolute;
        top: 49px;
        left: calc(50% + 5px);
      }
      .ReplyEditor__body textarea {
        height: calc(100vh - 380px);
      }
      form.vframe > div.Preview .MarkdownViewer {
        height: calc(100vh - 380px);
        overflow-y: auto;
      }
    }
  }

}